* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  max-width: 1440px;
  margin: 0 auto;
}

nav .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

nav .logo img {
  width: 3.5rem;
}

nav .logo div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

nav .logo h3 {
  font-size: 1.5rem;
  color: #eeeef0;
  /* line-height: 1; */
}

nav .logo p {
  font-size: 0.6rem;
  color: #eeeef0;
  margin-left: 8px;
  line-height: 0;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links .blog-link {
  color: #ffffff;
  border-bottom: 2px solid #1a4bff;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-links a {
  color: #b2b3bd;
  font-size: 1.2rem;
  text-decoration: none;
}

.nav-links a:hover {
  color: #ffffff;
  border-bottom: 2px solid #1a4bff;
  padding-bottom: 0.5rem;
  /* padding-left: 1rem; */
  /* padding-right: 1rem; */
}

nav button {
  background-color: #1a4bff;
  color: #ffffff;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 3.125rem;
  font-size: 1.2rem;
  cursor: pointer;
  width: 16.8rem;
}

hr {
  border: 0.1px solid #b2b3bd;
}

/* hero */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 0rem 3rem;
  max-width: 1440px;
  margin: 4rem auto 0;
}

.hero h1 {
  font-size: 3.813rem;
  color: #ffffff;
}

.hero p {
  font-size: 1.25rem;
  color: #b2b3bd;
  text-align: center;
}

/* Blog posts */

.blog-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 3rem;
  max-width: 1440px;
  margin: 4rem auto;
}

.blog-container h2 {
  font-size: 2.5rem;
  color: #ffffff;
}

.blog-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.blog-post {
    background-color: #2A2A2A;
    width: 26.563rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}

.blog-post .blog-image img {
    width: 100%;
}

.blog-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.blog-text h3 {
    font-size: 1.25rem;
    color: #EEEEF0;
}

.blog-text p {
    font-size: 1rem;
    color: #EEEEF0;
}

.author-details {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.author {
    display: flex;
    gap: 0.5rem;    
}

.author p {
    font-size: 0.813rem;
    color: #B2B3BD;
}

.blog-text a {
    color: #B2B3BD;
    text-decoration: none;
    border-bottom: 2px solid #1a4bff;
    width: 8rem;
    padding-bottom: 1px;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (max-width: 900px) {
  nav {
    display: none;
  }

  .hero {
    padding: 0 1rem;
    max-width: 100%;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .blog-container {
    padding: 0 1rem;
    max-width: 100%;
  }

  .blog-container h2 {
    font-size: 2rem;
  }

  .blog-post {
    width: 100%;
  }
}



