* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  max-width: 1440px;
  margin: 0 auto;
}

nav .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

nav .logo img {
  width: 3.5rem;
}

nav .logo div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

nav .logo h3 {
  font-size: 1.5rem;
  color: #eeeef0;
  /* line-height: 1; */
}

nav .logo p {
  font-size: 0.6rem;
  color: #eeeef0;
  margin-left: 8px;
  line-height: 0;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links .contact-link {
  color: #ffffff;
  border-bottom: 2px solid #1a4bff;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-links a {
  color: #b2b3bd;
  font-size: 1.2rem;
  text-decoration: none;
}

.nav-links a:hover {
  color: #ffffff;
  border-bottom: 2px solid #1a4bff;
  padding-bottom: 0.5rem;
  /* padding-left: 1rem; */
  /* padding-right: 1rem; */
}

nav button {
  background-color: #1a4bff;
  color: #ffffff;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 3.125rem;
  font-size: 1.2rem;
  cursor: pointer;
  width: 16.8rem;
}

hr {
  border: 0.1px solid #b2b3bd;
}

/* hero */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 0rem 3rem;
  max-width: 1440px;
  margin: 4rem auto 0;
}

.hero h1 {
  font-size: 3.813rem;
  color: #ffffff;
}

.hero p {
  font-size: 1.25rem;
  color: #b2b3bd;
  text-align: center;
  line-height: 2.025;
}

/* Contact-container */

.contact-container {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  /* gap: 2rem; */
  padding: 0rem 3rem;
  max-width: 1440px;
  margin: 4rem auto 0;
}

.contact-container .text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 50%;
}

.contact-container .text h2 {
  font-size: 3rem;
  color: #ffffff;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info-container div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.info-container div p {
  font-size: 1.25rem;
  color: #eeeef0;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.socials p {
  font-size: 1.5rem;
  color: #ffffff;
}

.socials-icons {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.socials-icons a {
  /* color: #b2b3bd; */
  font-size: 1.5rem;
  width: 1.5rem;
  text-decoration: none;
}

.socials-icons img {
  width: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  background-color: #e8e8e8;
  border-radius: 20px;
  padding: 1.875rem;
}

.form h2 {
  font-size: 2rem;
  color: #000000;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form label {
  font-size: 1rem;
  color: #111111;
}

form .input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form .input input,
form .input textarea {
  padding: 0.75rem;
  border: 1px solid #5f606a;
  border-radius: 10px;
  /* width: 36.938rem; */
  background-color: transparent;
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
}

form .btn {
  display: flex;
  justify-content: flex-end;
}

form .btn button {
  background-color: #1a4bff;
  color: #ffffff;
  padding: 0.75rem 2.5rem;
  border: none;
  border-radius: 3.125rem;
  font-size: 1.2rem;
  cursor: pointer;
  width: 16.8rem;
}

@media screen and (max-width: 900px) {
  nav {
    display: none;
  }

  .blurred {
    filter: blur(6px);
    pointer-events: none;
    transition: filter 0.3s ease;
  }



  .hero {
    padding: 0 1rem;
    max-width: 100%;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1rem;
  }

  /* Contact-container */

  .contact-container {
    flex-direction: column;
    padding: 0 1rem;
    gap: 3rem;
    max-width: 100%;
  }

  .contact-container .text {
    width: 100%;
  }

  .contact-container .text h2 {
    font-size: 2rem;
  }

  .info-container div p {
    font-size: 1rem;
  }

  .socials-icons {
    gap: 1.5rem;
  }


  .form {
    width: 100%;
    padding: 1.5rem 1rem;
  }

  form .btn {
    display: flex;
    justify-content: center;
  }

  form .btn button {
    width: 100%;
  }


}

