* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #111111;
  backdrop-filter: blur(10px);
  transition: background-color 0.3s ease;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  max-width: 1440px;
  margin: 0 auto;
  /* border-bottom: 0.1px solid #b2b3bd; */
}

/* nav .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
} */

/* nav .logo img {
  width: 3.5rem;
} */

/* nav .logo div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

nav .logo h3 {
  font-size: 1.5rem;
  color: #eeeef0;
}

nav .logo p {
  font-size: 0.6rem;
  color: #eeeef0;
  margin-left: 8px;
  line-height: 0;
} */

.nav-links {
  display: flex;
  gap: 2rem;
}


.nav-links .home-link {
  color: #ffffff;
  border-bottom: 2px solid #1a4bff;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-links a {
  color: #b2b3bd;
  font-size: 1.2rem;
  text-decoration: none;
}

.nav-links a:hover {
  color: #ffffff;
  border-bottom: 2px solid #1a4bff;
  padding-bottom: 0.5rem;
  /* padding-left: 1rem; */
  /* padding-right: 1rem; */
}

nav button {
  background-color: #1a4bff;
  color: #ffffff;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 3.125rem;
  font-size: 1.2rem;
  cursor: pointer;
  width: 16.8rem;
}

hr {
  border: 0.1px solid #b2b3bd;
}

/* Hero */

.hero {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  text-align: center;

  padding: 0 2rem;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 14rem;
}

.glowing-button {
  background-color: #303136;
  padding: 0.8rem 1.5rem;
  border-radius: 1.5rem;
  border: none;
  position: relative;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  outline: none;
  transition: all 0.3s ease-in-out;
  color: #ffffff !important;
  font-size: 1rem;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-style: normal;
  width: 14rem;
}

.glowing-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1.5rem;
  padding: 2px;
  background: linear-gradient(0deg, #1a4bff 0%, rgba(16, 45, 153, 0) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: subtract;
  pointer-events: none;
}

.hero h1 {
  font-size: 4.75rem;
  color: #eeeef0;
  line-height: 6.8rem;

}

.hero .paragraph {
  font-size: 1.125rem;
  color: #b2b3bd;
  width: 65rem;
}

.hero .join-us {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: #303136;
  padding: 0.8rem 1.5rem;
  border-radius: 30px;
}

.hero .join-us p {
  color: #ffffff;
  font-size: 1.2rem;
}

.hero .buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.hero .buttons .btn1 {
  background-color: #1a4bff;
  color: #ffffff;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 3.125rem;
  font-size: 1.2rem;
  cursor: pointer;
  width: 16.8rem;
}

.hero .buttons .btn2 {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 1rem 2.5rem;
  border-radius: 3.125rem;
  font-size: 1.2rem;
  cursor: pointer;
  width: 16.8rem;
}

.hero-image {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 8rem;
  padding: 0 3rem;
  width: 100%;
  object-fit: cover;
}

.hero-image img {
  width: 100%;
}

.mobile-hero-image{
  display: none;
}

/* Our services */

.services {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 3rem;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 8rem;
}

.services h3 {
  font-size: 3rem;
  color: #ffffff;
}

.services p {
  font-size: 1.125rem;
  color: #b2b3bd;
}

.services .service-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.service-card {
  background-color: #303136;
  padding: 4rem 2rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.service-card div {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.service-card img {
  width: 3rem;
}

.service-card h4 {
  font-size: 1.5rem;
  color: #eeeef0;
}

.service-card p {
  font-size: 1rem;
  color: #eeeef0;
}

/* why choose us */

.choose {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 3rem;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 8rem;
}

.choose h1 {
  font-size: 3rem;
  color: #ffffff;
}

.choose .reasons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.choose .reason {
  display: flex;
  gap: 2rem;
  align-items: center;
}


.reason .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

.reason .image {
  width: 50%;
}

.reason .image img {
  width: 100%;
}

.reason .text h3 {
  font-size: 2rem;
  color: #ffffff;
}

.reason .text p {
  font-size: 1.125rem;
  color: #DCDDE3;
}

/* Portfolio */

.portfolio {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 3rem;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 8rem;
}

.portfolio h2 {
  font-size: 3rem;
  color: #ffffff;
}

.portfolio p {
  font-size: 1.125rem;
  color: #b2b3bd;
}

.mobile-portfolio-images{
  display: none;
}

.portfolio-images {
  display: flex;
  align-content: stretch;
  gap: 2rem;
}

.portfolio-images .left {
  width: 50%;
  border-radius: 2rem;
}

.portfolio-images .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
}

.portfolio-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}

.portfolio .btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio .btn button {
  background-color: #1a4bff;
  color: #ffffff;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 3.125rem;
  font-size: 1.2rem;
  cursor: pointer;
  width: 16.8rem;
  margin-top: 1rem;
}

/* FAQ SECTION */

.faq-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 3rem;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 8rem;
}

.faq-section h2 {
  font-size: 3rem;
  color: #ffffff;
}

.faq-item {
  border-bottom: 1px solid #b2b3bd;
  padding: 1.5rem 0;
  cursor: pointer;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Manrope", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  font-style: normal;
  color: #eeeef0;
}

.faq-answer {
  margin-top: 1rem;
  font-size: 1.125rem;
  color: #b2b3bd;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.faq-toggle-icon {
  width: 1.5rem;
}

/* Touch logo */

.touch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 8rem;
  margin-bottom: 1.5rem;
}


.touch-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.touch-text h1 {
  font-size: 3.8rem;
  color: #ffffff;
  font-weight: 700;
}

.touch-text button {
  background-color: #1a4bff;
  color: #ffffff;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 3.125rem;
  font-size: 1.2rem;
  cursor: pointer;
  width: 16.8rem;
}



/* Media query */

@media screen and (max-width: 900px) {
  nav {
    display: none;
  }

  .blurred {
    filter: blur(6px);
    pointer-events: none;
    transition: filter 0.3s ease;
  }

  .home {
    transition: filter 0.3s ease; 
  }

 


  
 

  

  .hero{
    margin-top: 8rem;
    padding: 0 1rem;  
    min-width: 100%;
  }

  .glowing-button {
    padding: 0.8rem;
    /* line-height: 1rem; */

    /* width: 224rem; */
  }

  .hero h1 {
    font-size: 3rem;
    line-height: 4.95rem;

  }

  .hero .paragraph {
    font-size: 1rem;
    width: 100%;
  }

  .hero .join-us {
    padding: 0.5rem 1rem;
  }

  .hero .buttons {
    flex-direction: column;
    gap: 1rem;
  }

  .hero-image {
    display: none;
  }

  .mobile-hero-image{
    display: block;
    margin-top: 4rem;
  }

  .mobile-hero-image img {
    width: 100%;
  }

  /* Our services */

  .services{
    margin-top: 4rem;
    padding: 0 1rem;
    max-width: 100%;
  }

  .services h3 {
    font-size: 2.5rem;
  }

  .services p {
    font-size: 1rem;
  }

  .service-card {
    padding: 3rem 1rem;
  }

  /* why choose us */

  .choose {
    margin-top: 4rem;
    padding: 0 1rem;
    max-width: 100%;
  }

  .choose h1 {
    font-size: 2.5rem;
  }

  
  .choose .reason {
    flex-direction: column;
    /* gap: 1rem; */
  }

  .mobile-reason {
    display: flex;
    flex-direction: column-reverse !important;
  }

  .reason .text {
    width: 100%;
  }

  .reason .image {
    width: 100%;
  }

  .reason .text p{
    font-size: 1rem;
  }

  /* Portfolio */

  .portfolio {
    margin-top: 4rem;
    padding: 0 1rem;
    max-width: 100%;
  }

  .portfolio h2 {
    font-size: 2.5rem;
  }

  .portfolio p {
    font-size: 1rem;
  }

  .portfolio-images {
    display: none;
  }

  .mobile-portfolio-images{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  /* FAQ SECTION */

  .faq-section {
    margin-top: 4rem;
    padding: 0 1rem;
    max-width: 100%;
  }

  .faq-section h2 {
    font-size: 2.5rem;
  }

  .faq-item {
    padding: 1rem 0;
    cursor: none;
  }

  .faq-question {
    font-size: 1.2rem;
  }

  .faq-answer {
    font-size: 1rem;
  }

  /* Touch logo */

  .touch {
    margin-top: 4rem;
    padding: 0 1rem;
    max-width: 100%;
    width: 100%;
  }

  .touch img {
    width: 100%;
  }

  .touch-text{
    padding: 0 1rem;
  }

  .touch-text h1 {
    font-size: 2.3rem;
    text-align: center;
  }











}
