* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #111111;
  backdrop-filter: blur(10px);
  transition: background-color 0.3s ease;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  max-width: 1440px;
  margin: 0 auto;
}

nav .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

nav .logo img {
  width: 3.5rem;
}

nav .logo div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

nav .logo h3 {
  font-size: 1.5rem;
  color: #eeeef0;
  /* line-height: 1; */
}

nav .logo p {
  font-size: 0.6rem;
  color: #eeeef0;
  margin-left: 8px;
  line-height: 0;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links .services-link {
  color: #ffffff;
  border-bottom: 2px solid #1a4bff;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-links a {
  color: #b2b3bd;
  font-size: 1.2rem;
  text-decoration: none;
}

.nav-links a:hover {
  color: #ffffff;
  border-bottom: 2px solid #1a4bff;
  padding-bottom: 0.5rem;
  /* padding-left: 1rem; */
  /* padding-right: 1rem; */
}

nav button {
  background-color: #1a4bff;
  color: #ffffff;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 3.125rem;
  font-size: 1.2rem;
  cursor: pointer;
  width: 16.8rem;
}

hr {
  border: 0.1px solid #b2b3bd;
}

/* hero */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 0rem 3rem;
  max-width: 1440px;
  margin: 12rem auto 0;
}

.hero h1 {
  font-size: 3.813rem;
  color: #ffffff;
}

.hero p {
  font-size: 1.25rem;
  color: #b2b3bd;
  text-align: center;
  line-height: 2.025;
}

.our-services {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 3rem;
    max-width: 1440px;
    margin: 6rem auto 0;
  }
  
  .our-services h1 {
    font-size: 3rem;
    color: #ffffff;
  }
  
  .our-services .services {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .our-services .service {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  
  .service .text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
  }
  
  .service .image {
    width: 50%;
  }
  
  .service .image img {
    width: 100%;
  }
  
  .service .text h3 {
    font-size: 2rem;
    color: #ffffff;
  }
  
  .service .text p {
    font-size: 1.25rem;
    color: #ffffff;
  }

  /* contact */

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 3rem;
    max-width: 1440px;
    margin: 2rem auto 0;
  }
  
  .contact .buttons {
    display: flex;
    gap: 1rem;
  }
  
  .contact .buttons .btn1 {
    background-color: #1a4bff;
    color: #ffffff;
    padding: 0.875rem 0.75rem;
    border: none;
    border-radius: 3.125rem;
    font-size: 1.2rem;
    cursor: pointer;
    width: 16.8rem;
  }
  
  .contact .buttons .btn2 {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 0.875rem 0.75rem;
    border-radius: 3.125rem;
    font-size: 1.2rem;
    cursor: pointer;
    width: 16.8rem;
  }

  @media screen and (max-width: 900px) {
    nav {
      display: none;
    }

    .blurred {
      filter: blur(6px);
      pointer-events: none;
      transition: filter 0.3s ease;
    }

    .hero {
      padding: 0 1rem;
      max-width: 100%;
      margin: 8rem auto 0;
    }

    .hero h1 {
      font-size: 2.5rem;
    }

    .hero p {
      font-size: 1rem;
    }

    .our-services {
      padding: 0 1rem;
      margin: 4rem auto 0;
      max-width: 100%;
    }

    .our-services h1 {
      font-size: 2.5rem;
    }

    .our-services .service {
      flex-direction: column;
    }

    .mobile-service {
      display: flex;
      flex-direction: column-reverse !important;
    }

    .service .text {
      width: 100%;
    }

    .service .image {
      width: 100%;
    }

    .service .text p {
      font-size: 1rem;
    }

    /* contact */

    .contact {
      padding: 0 1rem;
      margin: 4rem auto;
      max-width: 100%;
    }

    .contact .buttons {
      flex-direction: column;
      gap: 1.5rem;
    }

  }
